.searchInput {
  height: 90rpx;
  padding: 10rpx;
  background-color: var(--themeColor);
}
.searchInput navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
